.register_custom_input {
    width: 100%;
    height: 60px;
    padding: 10px;
    outline-width: 0;
    border-radius: 10px;
    background-color: #323E59;
    color: #fff;
    border: 0px;
    font-size: 18px;
}

.register_field_label {
    margin-bottom: 5px;
    margin-top: 15px;
}

.password_input_container {
    position: relative;
}

.show_password_icon {
    padding: 19px !important;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
}