.UserCard {
  width: 200px;
  margin: 10px;
  background: #323E59;
  border-radius: 5px;
  overflow: hidden;
}

.user_short_info {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.user_chips {
  padding: 5px 0px;
  background : #1E273C;
}