.Header {
  background: #323E59;
}

.link_text {
  color: #fff;
  font-size: 1.1rem;
  margin-left: 1rem;
  font-weight: 500;
}

.link_text:hover {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

.profile_short_info {
  margin-bottom: 0px;
  font-size: 0.9rem;
}